.post-body .image-caption {
  margin: -10px auto 1em;
  font-weight: 400;
}

.album {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

.album .card {
  overflow: hidden;
  transition: .3s ease-in-out;
}